[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/pnq"]
	path = extern/pnq
	url = https://github.com/gersonkurz/pnq.git
[submodule "extern/tomlplusplus"]
	path = extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "extern/sqlite3"]
	path = extern/sqlite3
	url = https://github.com/gittiver/sqlite3-amalgamation
