[submodule "extern/pnq"]
	path = extern/pnq
	url = https://github.com/gersonkurz/pnq.git
[submodule "Extern/spdlog"]
	path = Extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Extern/sqlite3-amalgamation"]
	path = Extern/sqlite3-amalgamation
	url = https://github.com/gittiver/sqlite3-amalgamation
[submodule "Extern/tomlplusplus"]
	path = Extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
